.section-title {
  font-size: 30px;
  color: #192b3e;
  margin: 0;
  padding-bottom: 20px;
  display: block;
  font-weight: 400;
}

.spacing-lg {
  padding-top: 100px;
  padding-bottom: 100px;
}

.spacing-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

.spacing-sm {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.navbar-brand__logo {
  color: #2c3e50;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #53586b;
  margin: 0;
}


/****** section tabs *****/
.section-tabs {
  display: flex;
  align-items: center;
}

.section-tabs__item {
  display: inline-block;
  padding: 10px 15px;
  /* border-radius: 0 5px 0 0; */
  background-color: #fff;
  /* border: 1px solid #f0f0f0; */
  border-bottom: 2px solid #53586b;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.section-tabs__item:not(:last-of-type) {
  margin-right: 0.5px;
}

.section-tabs__item .label {
  margin-left: 5px;
}

.section-tabs__item.section-tabs__item--active {
  background-color: #39425A;
  color: var(--white);
  border-bottom: 2px solid var(--blue);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
