 
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
     z-index:0;
}

#progressbar li {
    /* list-style-type: none;
    color: silver;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative; */
    float: left;
    width: 20.28%;
    position: relative;
    text-align: center;
    list-style: none
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #bebebe;
    text-align: center;
    font-weight: bold;

    /* width: 20px;
    height: 20px;
    line-height: 45px;
    display: block;
    font-size: 10px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 1px auto;
    padding: 02px */
  
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: silver;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
    background: #39425A;
    color: white;
}
